*.DS_Store
*.tmp.*
*.tmp
**/tmp
**/__pycache__
.vscode
.cache
*.egg-info
build
dist
sfm_tools/feature_extract_match/third_party/superglue.pth
sfm_tools/feature_extract_match/third_party/superpoint.pth.tar
